
/*////// BACKGROUNDS //////*/
.container-fluid {
    
}

.jumbotron-image {
    background-image: url();
  	background-size: 100%;
  	filter: alpha(opacity=50); /* IE*/
-moz-opacity: 0.5; /* Older than Firefox 0.9 */
-khtml-opacity: 0.5; /* Safari 1.x (pre WebKit!) */
opacity: 0.5; /* Modern! */

}

div.ei {
    width: 100px;
    height: 100px;
    float: left;
    border: 10px groove aqua;
    margin: 10px;
    padding: 20px;
}

#box1 {
    background: rgba(255,255,0,1);
}

#box2 {
    background: rgba(255,255,0,1) url(http://placekitten.com/g/99/99) no-repeat center;
}

#box3 {
    background: url(http://placekitten.com/300/120) no-repeat center;
    background-size: contain;
}

#box4 {
    background: url(http://placekitten.com/300/120) no-repeat center;
    background-size: cover;
}

#box5 {
    background: url(http://placekitten.com/g/300/300) no-repeat center;
    background-size: cover;
    opacity: 0.5;
    box-shadow: 5px 5px 15px #000;
    border-radius: 10px;
}


/* navbar */
.navbar-default {
    background-color: gray;
    border-color: white;
    font-size: 2em;
    position: relative;
    color: white;

}
/* title */
.navbar-default .navbar-brand {
    color: white;
    font-size: 2.2em;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 800px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}
.thumbnail{
  display: block;
  position: left;
}
#list{
  display: inline-block;
}
.title{
  text-align: center;
}

.carousel-wrapper{
    width: 1500px;
    height: 1500px;
    float: left;
    margin: 10px;
    padding: 20px;

}